.container {
    position: relative;
    text-align: center;
  }
  
  .month-one, .month-two, .month-three, .month-four {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    top: -40px;
    width: 16%;
    height: 60px;
    border-radius: 12px;
    background-color: #004A72;
    margin: 100px;
  }
  .month-two {
    left: 18rem;
    background-color: #dbdbdb;
  }
  .month-three {
    left: 38rem;
    background-color: #dbdbdb;
  }
  .month-four{
    left: 58rem;
    background-color: #dbdbdb;
  }
  .month-one, .month-two, .month-three, .month-four p {
    color: rgb(251, 253, 253);
    font-size: 26px;
    font-weight: bold;
    /* display: flex; */
  }
  .summary {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 130px;
    left: 60px;
    width: 25%;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    color: #00b6b9;
  }
  .summary span{
    margin-right: 16px;
  }
  .lecciones {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 180px;
    left: 90px;
    width: 40%;
    height: 40px;
    font-size: 22px;
    color: #1d5696;
  }
  .lecciones p{
    margin-right: 10px;
  }
 .button-circle-back {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #0098d4, #0077b5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-circle-back {
    position: absolute;
    bottom: 80px;
    right: 320px;
    top: 180px;
    transform: translateX(-50%);
}
.button-circle-next {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #0098d4, #0077b5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-circle-next {
    position: absolute;
    bottom: 80px;
    right: -40px;
    top: 180px;
    transform: translateX(-50%);
}

  .back-button-day {
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: #fcfcfc;
    text-decoration: none;
  }
  
  .next-button {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  .next-button span{
    padding: 5px;
  }
  .back-button-day span{
    padding: 5px;
  }

  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    /* continuar aqui.... */
  }
  
  /* Estilos para pantallas medianas */
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .month-one, .month-two, .month-three, .month-four {
      left: -20px;
      top: -40px;
      width: 14%;
      height: 50px;
    }
    .month-two {
      left: 12rem;
      background-color: #dbdbdb;
    }
    .month-three {
      left: 26rem;
      background-color: #dbdbdb;
    }
    .month-four{
      left: 42rem;
      background-color: #dbdbdb;
    }
    .month-one, .month-two, .month-three, .month-four p {
      font-size: 22px;
    }
    .summary {
      left: 66px;
      font-size: 22px;
    }
    .summary span{
      margin-right: 16px;
    }
    .button-circle-back {
      left: 600px;
      width: 140px;
      height: 40px;
  }
  .button-circle-back {
    right: 200px;
}
  .button-circle-next {
      left: 840px;
      width: 210px;
      height: 40px;
  }
  .button-circle-next {
      position: absolute;
      bottom: 80px;
      right: -70px;
  }
  
    .back-button-day {
      font-size: 20px;
    }
    .next-button {
      font-size: 18px;
    }
    .lecciones {
      font-size: 16px;
    }
  }