.container-third {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 140px;
}


.btn-third-option {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid rgb(40, 95, 156);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
}

.box-third h2 {
    color: rgb(0, 183, 181);
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 12px;
    margin: 0;
}

.box-third p {
    color: rgb(40, 95, 156);
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.container-third h1 {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bolder;
    color: rgb(40, 95, 156);
}

.container-third .back-button {
    position: relative;
    bottom: 300px;
    left: -300px;
    top: 400px;
    transform: translateX(-50%);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {

    #root {
        height: 100%;
    }

    .container-third {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: auto;

    }

    /* Define el estilo para las tarjetas */
    .box-third{
        width: 150px;
        height: 150px;
    }
    h2 {
        font-size: 20px;
    }
    .box-third p {
        font-size: 16px;
    }
    .container-third .btn-third-option:first-of-type {
        margin-top: 10rem;
    }

   /*  .my-link:last-of-type {
        margin-bottom: 10rem;
    } */

    .container-third h1 {
        top: 6rem;
        font-size: 16px;

    }

    .container-third .back-button {
        width: 150px;
        height: 40px;
        left: 80px;
        top: 20px;
        transform: translateX(-50%);
    }
}
/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .container-third {
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
        margin-top: 10rem;
        margin-left: 1rem;
    }
    .container-third .my-link{
        height: 10rem;
        margin: 2rem;
    }
    .card-third {
        width: 10rem;
        height: 10rem;
    }
    .card-third h2 {
        font-size: 20px;
    }
    .card-third p {
        font-size: 16px;
    }
    .button-circle-third {
        position: relative;
        left: -170px;
        top: 400px;
    }
    .button-circle-third {
        width: 180px;
        height: 40px;
    }
    .fa-solid {
        font-size: 18px;
    }
}